<div class="login-container">
  <h2 class="login-title">Dang nhap</h2>
  <p class="login-desc">Nhap email va mat khau de tiep tuc</p>

  <form nz-form [formGroup]="loginForm" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-label nzFor="email">Email</nz-form-label>
      <nz-form-control nzErrorTip="Nhap email hop le">
        <nz-input-group nzPrefixIcon="mail">
          <input nz-input formControlName="email" id="email" placeholder="email@congty.vn" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="password">Mat khau</nz-form-label>
      <nz-form-control nzErrorTip="Mat khau toi thieu 6 ky tu">
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTpl">
          <input
            nz-input
            formControlName="password"
            id="password"
            [type]="passwordVisible ? 'text' : 'password'"
            placeholder="Nhap mat khau"
          />
        </nz-input-group>
        <ng-template #suffixTpl>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
            (click)="passwordVisible = !passwordVisible"
            class="password-toggle"
          ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">Ghi nho dang nhap</label>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" nzBlock nzSize="large" [nzLoading]="loading">
      Dang nhap
    </button>
  </form>
</div>
